SalesOrderWebSvc/CRSMSOnlineWebTest/Service References/SOWebSvcRef/SOWebSvc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SalesOrderWebSvc" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SalesOrderWebSvc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfCRental">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CRental" nillable="true" type="tns:CRental" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCRental" nillable="true" type="tns:ArrayOfCRental" />
  <xs:complexType name="CRental">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfPickUp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfRent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CRental" nillable="true" type="tns:CRental" />
  <xs:complexType name="ArrayOfCSales">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CSales" nillable="true" type="tns:CSales" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCSales" nillable="true" type="tns:ArrayOfCSales" />
  <xs:complexType name="CSales">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfPurchase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CSales" nillable="true" type="tns:CSales" />
  <xs:complexType name="ArrayOfCOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="COrder" nillable="true" type="tns:COrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCOrder" nillable="true" type="tns:ArrayOfCOrder" />
  <xs:complexType name="COrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfOrder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfPickUp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="COrder" nillable="true" type="tns:COrder" />
  <xs:complexType name="MadeToOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfOrder" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOfPickUp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOfUse" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Downpayment" type="xs:double" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Purpose" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:double" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MadeToOrder" nillable="true" type="tns:MadeToOrder" />
  <xs:complexType name="OrderedProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chest" type="xs:double" />
      <xs:element minOccurs="0" name="ClothType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Length" type="xs:double" />
      <xs:element minOccurs="0" name="OrderProdId" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:int" />
      <xs:element minOccurs="0" name="Waist" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderedProduct" nillable="true" type="tns:OrderedProduct" />
</xs:schema>