SalesOrderWebSvc/CRSMSOnlineWebTest/Service References/SOWebSvcRef/SOWebSvc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59805/SOWebSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SalesOrderWebSvc" />
  <xs:element name="GetInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SalesOrderWebSvc" minOccurs="0" name="GetInfoResult" nillable="true" type="q1:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRentals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRentalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SalesOrderWebSvc" minOccurs="0" name="GetRentalsResult" nillable="true" type="q2:ArrayOfCRental" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SalesOrderWebSvc" minOccurs="0" name="GetSalesResult" nillable="true" type="q3:ArrayOfCSales" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SalesOrderWebSvc" minOccurs="0" name="GetOrdersResult" nillable="true" type="q4:ArrayOfCOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SalesOrderWebSvc" minOccurs="0" name="cust" nillable="true" type="q5:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SalesOrderWebSvc" minOccurs="0" name="cust" nillable="true" type="q6:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactionid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SalesOrderWebSvc" minOccurs="0" name="GetTransactionInfoResult" nillable="true" type="q7:MadeToOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoByRefNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="referenceno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoByRefNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SalesOrderWebSvc" minOccurs="0" name="GetInfoByRefNumResult" nillable="true" type="q8:MadeToOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerOfTransId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactionid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerOfTransIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SalesOrderWebSvc" minOccurs="0" name="GetCustomerOfTransIdResult" nillable="true" type="q9:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductOfTransId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactionid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductOfTransIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SalesOrderWebSvc" minOccurs="0" name="GetProductOfTransIdResult" nillable="true" type="q10:OrderedProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SalesOrderWebSvc" minOccurs="0" name="order" nillable="true" type="q11:MadeToOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTransactionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SalesOrderWebSvc" minOccurs="0" name="order" nillable="true" type="q12:MadeToOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTransactionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderedProductInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactionid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderedProductInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SalesOrderWebSvc" minOccurs="0" name="GetOrderedProductInfoResult" nillable="true" type="q13:OrderedProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrderedProductInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SalesOrderWebSvc" minOccurs="0" name="op" nillable="true" type="q14:OrderedProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrderedProductInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveOrderedProductInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderedProductInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SalesOrderWebSvc" minOccurs="0" name="op" nillable="true" type="q15:OrderedProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderedProductInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateOrderedProductInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>